.comments{
    width: calc(100% - 400px);
    margin: 0 auto 150px;
    background-color: gainsboro;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;

    .comments-title {
        font-size: 36px;
        margin-bottom: 20px;
      }

      .comment-form-title {
        font-size: 22px;
        margin-bottom: 10px;
      }
}