.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 400px);
    margin: 0 auto;
    padding: 30px 0 50px;

    .logo{
        cursor: pointer;
    }

    .nav-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #fff;

        .nav-list-item{
            margin-right: 50px;
            cursor: pointer;

            .link{
                color: white;
                font-size: 16px;
                text-decoration: none;

                &:hover{
                    color: #018ABE;
                }
            }

            &:last-of-type{
                margin-right: 0;
            }
        }
    }

    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 140%;
        color: #fff;
        background-color: #018ABE;
        border-radius: 3px;
        border: none;
        cursor: pointer;
    }
}